In [4]:
import pandas as pd

In [5]:
import pandas as pd
data=pd.read_csv('dataset.csv')

In [6]:
data.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [7]:
movies=data[['id','title','overview','genre','popularity']]

In [8]:
movies.head()

,id,title,overview,genre,popularity
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",94.075
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance",25.408
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime",90.585
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",44.761
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",57.749

In [9]:
movies['tag']=movies['overview']+movies['genre']

C:\Users\bored\AppData\Local\Temp\ipykernel_20024\3677936100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tag']=movies['overview']+movies['genre']

In [10]:
new_data=movies.drop(columns=['overview','genre'])

In [11]:
new_data.head()

,id,title,popularity,tag
0,278,The Shawshank Redemption,94.075,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,25.408,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,90.585,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,44.761,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,57.749,In the continuing saga of the Corleone crime f...

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=10000,stop_words='english')

In [13]:
vector=cv.fit_transform(new_data['tag'].values.astype('U')).toarray()

In [14]:
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
similarity=cosine_similarity(vector)

In [16]:
new_data[new_data['title']=='The Lego Movie'].index[0]

1632

In [17]:
distance=sorted(list(enumerate(similarity[2])),reverse=True,key=lambda x:x[1])

In [18]:
for i in distance[0:5]:
  print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [19]:
def recommand(movies):
  index=new_data[new_data['title']==movies].index[0]
  distance=sorted(list(enumerate(similarity[index])),reverse=True,key=lambda x:x[1])
  for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

In [20]:
recommand('The Lego Movie')

The Lego Movie
Minions: The Rise of Gru
Onward
Percy Jackson: Sea of Monsters
Igor

In [21]:
recommand('The Dark Knight Rises')

The Dark Knight Rises
Batman: The Long Halloween, Part One
Batman: The Long Halloween, Part Two
The Dark Knight
Batman: Gotham by Gaslight

In [22]:
import pickle

In [23]:
pickle.dump(new_data,open('movies_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))